{% extends 'base_generic.html' %}

{% block content %}
    <h1>Your Highlight Videos</h1>
    <button onclick="window.location.href='{% url 'basketball_video_upload:create_player_game_highlight_video' %}';"
            class="create-btn">
        Create Player Game Highlight Video
    </button>
    <div class="row">
        {% for playerGameHighlightVideo in playerGameHighlightVideos %}
            <tr>
                <td>{{ playerGameHighlightVideo.player.first_name }} {{ player_game_stat.player.last_name }}</td>
                <td>{{ playerGameHighlightVideo.game.date }}</td>
                <td>
                    <video width="320" height="240" controls>
                        <source src="{{ playerGameHighlightVideo.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </td>
                <td>{{ playerGameHighlightVideo.video_name }}</td>
                <td>{{ playerGameHighlightVideo.uploaded_at }}</td>
            </tr>
        {% endfor %}

    </div>
{% endblock %}
