{% extends "base_generic.html" %}

{% block content %}
    <div class="container">
        <div class="header text-center">
            <h1>Welcome to the Basketball Video Upload Application</h1>
            <p>This application allows you to upload and manage highlight videos of basketball games.</p>
        </div>
        <div class="icons d-flex justify-content-center">
            {% if request.user.is_authenticated %}
                {% if request.user.profile.is_administrator %}
                    <a href="{% url 'basketball_video_upload:list_all_players' %}" data-toggle="tooltip"
                       data-placement="top"
                       title="Players">
                        <i class="fas fa-user" style="font-size: 100px"></i> </a>
                    <a href="{% url 'basketball_video_upload:list_all_games' %}" data-toggle="tooltip"
                       data-placement="top"
                       title="Games">
                        <i class="fas fa-basketball-ball" style="font-size: 100px"></i>

                    </a>

                {% elif request.user.profile.is_coach %}
                    <a href="{% url 'basketball_video_upload:list_all_players' %}" data-toggle="tooltip"
                       data-placement="top"
                       title="Players">
                        <i class="fas fa-user" style="font-size: 100px"></i>
                    </a>
                    <a href="{% url 'basketball_video_upload:list_all_games' %}" data-toggle="tooltip"
                       data-placement="top"
                       title="Games">
                        <i class="fas fa-basketball-ball" style="font-size: 100px"></i>

                    </a>

                {% elif request.user.profile.is_player %}
                    <a href="{% url 'basketball_video_upload:show_profile' %}" data-toggle="tooltip"
                       data-placement="top"
                       title="Profile">
                        <i class="fas fa-users" style="font-size: 100px;"></i>

                    </a>
                    <a href="{% url 'basketball_video_upload:list_personal_games' %}" data-toggle="tooltip"
                       data-placement="top"
                       title="Games">
                        <i class="fas fa-basketball-ball" style="font-size: 100px"></i>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
