{% load static %}
<!DOCTYPE html>
<html>
<head>
   <title>Player Game Statistics</title>
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
   <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
   <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
</head>
<body>
   <table id="playerGameStatisticsTable" class="display">
       <thead>
           <tr>
               <th>Player</th>
               <th>Season</th>
               <th>Points</th>
               <th>Rebounds</th>
               <th>Assists</th>
               <th>Turnovers</th>
               <th>Blocks</th>
               <th>Steals</th>
               <th>Games Played</th>
           </tr>
       </thead>
       <tbody>
           {% for player_game_stat in player_game_statistics %}
               <tr>
                  <td>{{ player_game_stat.player.first_name }} {{ player_game_stat.player.last_name }}</td>
                  <td>{{ player_game_stat.season.name }}</td>
                  <td>{{ player_game_stat.points }}</td>
                  <td>{{ player_game_stat.rebounds }}</td>
                  <td>{{ player_game_stat.assists }}</td>
                  <td>{{ player_game_stat.turnovers }}</td>
                  <td>{{ player_game_stat.blocks }}</td>
                  <td>{{ player_game_stat.steals }}</td>
                  <td>{{ player_game_stat.games_played }}</td>
               </tr>
           {% endfor %}
       </tbody>
   </table>
   <script>
       $(document).ready( function () {
           $('#playerGameStatisticsTable').DataTable();
       } );
   </script>
</body>
</html>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create</button>
</form>